@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap');

.navbar {
  font-family: 'Amatic SC', cursive;
}

.navbar-brand {
  font-size: 40px;
}

.login {
  font-size: 30px;
}